{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reglogin.css' %}">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex"></div>
            <a class="btn btn-info float-right mr-5" href="/">Вернуться</a>
        </div>
    </nav>
    <div class="form_container">
        <h1>Регистрация</h1>
        <form method="post" action="{% url 'products:register' %}">
            {% csrf_token %}

            {% if form.errors %}
            <p>Ошибка в форме!</p>
            {% endif %}

            <!-- Рендер формы способ 1 -->
            <div>
                <div class="field">
                    <label>{{form.username.label}}</label>
                    {{form.username}}
                </div>

                <div class="field">
                    <label>{{form.password1.label}}</label>
                    {{form.password1}}
                </div>
                
                <div class="field">
                    <label>{{form.password2.label}}</label>
                    {{form.password2}}
                </div>

                <input class="button" type="submit" value="Зарегистрироваться">
            </div>


            <!-- Рендер формы способ 2 -->
            <!-- {{ form }} -->
            <!-- <input type="submit" value="Register"> -->


            <!-- Рендер формы способ 3 -->
            <!-- {% for field in form %}
                {{field.label}}
                {{field}}
            {% endfor %} -->
            <!-- <input type="submit" value="Register"> -->

        </form>
    </div>
</body>
</html>